.txt1 {
    color: blue;
    text-decoration: double;
    text-align: center;
    font-family: 'Sans Serif';
}


.txt1:hover {
    color : pink;
    font-size: 10px;
    transform: rotate(90deg);
     // ta bugado 
}
